<div class="container">
  <h1><%= t('article.article_list')%></h1>
  <% @articles.each do |article| %>
      <div class="row ">
        <div class="col align-self-center">
          <h4>
            <%= link_to article.title, article_path(article) %>
            <small>
              Posted at: <time><%= article.created_at.to_date.strftime("%d %B, %Y")%></time>
            </small>
          </h4>
        </div>
      </div>
      <div class="row">
         <div class="col">
           <p>
             <%= article.text %>
           </p>
           <% case user_signed_in? && article.author != '' %>
             <% when article.author == '' %>
             <% when article.author == current_user.username %>
               <%= link_to 'Edit', edit_article_path(article) %>
               <%= link_to "Destroy", article_path(article), method: :delete, data: { confirm: 'Действительно удалить?'} %>
           <% end %>
           <% if user_signed_in? %>

           <% end %>
         </div>
       </div>
  <% end %>

</div>